extends layout

block content
    .app-container
        .container-left
            .profile-card.text-center
                .card.mr-2.ml-2.mt-2
                    if authenticated
                        img.card-img-top(src=''+authenticated.avatarUrl alt='Card image cap')
                        .card-body
                            h5.card-title #{authenticated.username}
                            p.card-text
                                #{authenticated}
                            a.btn.btn-primary(href='/profile') My Profile
                    else
                        img.card-img-top(src='/image/user.JPG' alt='Card image cap')
                        .card-body
                            h5.card-title Welcom to Tweet
                            p.card-text This is Tweet. Post what is happening now and enjoy the social app.
                            a.btn.btn-primary(href='/register') Register Now
        .container-right.text-center
            if authenticated
                form.ml-5.mr-5.my-4(action="/tweets" method="POST")
                    textarea.form-control(name="content" rows="3")
                    button.btn.btn-success POST
                hr
            .tweets-container
                ul.tweets-list.mx-5
                    li.tweet-item
                        .tweet-user
                            img(src='./image/user.JPG' alt='')
                            h5 Steven Yang
                        .tweet-content
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio sed beatae autem itaque fugit! Perspiciatis, expedita. Cumque esse rerum reiciendis.
                            
                    hr
                    li.tweet-item
                        .tweet-user
                            img(src='./image/user.JPG' alt='')
                            h5 Steven Yang
                        .tweet-content
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio sed beatae autem itaque fugit! Perspiciatis, expedita. Cumque esse rerum reiciendis.
                    hr
                    li.tweet-item
                        .tweet-user
                            img(src='./image/user.JPG' alt='')
                            h5 Steven Yang
                        .tweet-content
                           p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio sed beatae autem itaque fugit! Perspiciatis, expedita. Cumque esse rerum reiciendis.
                    hr
                    li.tweet-item
                        .tweet-user
                            img(src='./image/user.JPG' alt='')
                            h5 Steven Yang
                        .tweet-content
                           p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio sed beatae autem itaque fugit! Perspiciatis, expedita. Cumque esse rerum reiciendis.
                    hr
