extends layout

block content
    .app-container
        .container-left
            .profile-card.text-center
                .card.mr-2.ml-2.mt-2
                    img.card-img-top(src='./image/user.JPG' alt='Card image cap')
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            | Excepturi amet magnam rerum optio culpa expedita reprehenderit,
                            | pariatur iste eaque accusantium maxime, voluptatem eligendi?
                        a.btn.btn-primary(href='./profile.html') My Profile
        .container-right.text-center
            form.post-tweet
            textarea(name='tweet' id='' cols='100' rows='4')
            button.btn.btn-success POST
            hr
            .tweets-container
                ul.tweets-list.mx-5
                    li.tweet-item
                        .tweet-user
                            img(src='./image/user.JPG' alt='')
                            h5 Steven Yang
                        .tweet-content
                            p
                            | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            | Rerum cumque rem nesciunt accusantium non quo quia nulla sint
                            | dolorum et labore repellat id doloremque dolorem, facere,
                            | ratione corporis quod quaerat.
                    hr
                    li.tweet-item
                        .tweet-user
                            img(src='./image/user.JPG' alt='')
                            h5 Steven Yang
                        .tweet-content
                            p
                            | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            | Rerum cumque rem nesciunt accusantium non quo quia nulla sint
                            | dolorum et labore repellat id doloremque dolorem, facere,
                            | ratione corporis quod quaerat.
                    hr
                    li.tweet-item
                        .tweet-user
                            img(src='./image/user.JPG' alt='')
                            h5 Steven Yang
                        .tweet-content
                            p
                            | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            | Rerum cumque rem nesciunt accusantium non quo quia nulla sint
                            | dolorum et labore repellat id doloremque dolorem, facere,
                            | ratione corporis quod quaerat.
                    hr
                    li.tweet-item
                        .tweet-user
                            img(src='./image/user.JPG' alt='')
                            h5 Steven Yang
                        .tweet-content
                            p
                            | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            | Rerum cumque rem nesciunt accusantium non quo quia nulla sint
                            | dolorum et labore repellat id doloremque dolorem, facere,
                            | ratione corporis quod quaerat.
                    hr
